/*learn section*/ 

.learn-section {
    padding: 40px;
    background-color: #f5f5f5;
    color: black;
    text-align: center;
}

.learn-section h2 {
    font-size: 2.5em;
    color: #333;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.learn-card {
    width: 220px;
    padding: 20px;
    background: linear-gradient(145deg, #e3e3e3, #ffffff);
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #333;
}

.learn-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.learn-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: 600;
}

.learn-card p.details {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 15px;
}

.learn-card img.icon {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.file-viewer-section {
    display: none;
    padding: 30px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.file-viewer-section h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #333;
    display: none;
}

.file-credits {
    margin-top: 15px;
    font-size: 1em;
    color: #333;
    text-align: center;
    font-style: italic;
}

.close-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #e60000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #cc0000;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .learn-card {
        width: 90%;
        margin-bottom: 20px;
    }

    .learn-section h2 {
        font-size: 2em;
    }

    iframe {
        height: 400px;
    }
}
